<fieldset data-role="collapsible" data-inset="true" data-collapsed="true"
  data-collapsed-icon="carat-d" data-expanded-icon="carat-u" class="collection-fieldset">
  <h4>{{label}}</h4>
  {{#if value}}
    {{#each value}}
      <div class="collection-group" data-id="{{../id}}" data-index="{{@key}}">
        {{#each ../collection}}
          {{#if this.children}}
            {{> group this currentCollection=../.. currentIndex=@../key}}
          {{else}}
            {{> (lookup . 'type') this value=(getCollectionFieldValue ../.. @../key this)}}
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  {{else}}
    <div class="collection-group" data-id="{{id}}" data-index="0">
      {{#each collection}}
        {{#if this.children}}
          {{> group this}}
        {{else}}
          {{> (lookup . 'type') this}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  <a href="#" data-function="add-collection" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini">Agregar item</a>
  <a href="#" data-function="remove-collection" class="ui-btn ui-btn-inline ui-shadow ui-corner-all ui-mini" style="display:none;">Eliminar item</a>
</fieldset>
