<div data-id="{{id}}">
  <div>
    <label for="{{id}}_latitude">Latitud:</label>
    <input type="text" name="{{id}}_latitude" id="{{id}}_latitude" value="{{value.latitude}}"  />
  </div>
  <div>
    <label for="{{id}}_longitude">Longitud:</label>
    <input type="text" name="{{id}}_longitude" id="{{id}}_longitude" value="{{value.longitude}}"  />
  </div>
  <a href="#" data-function="get-geolocation" class="ui-btn ui-shadow ui-corner-all">Obtener geolocalización</a>
</div>
