<h3 class="ui-bar ui-bar-c">{{label}}</h3>
{{#each children}}
  {{#if this.children}}
    {{> group this currentCollection=../currentCollection currentIndex=../currentIndex}}
  {{else}}
    {{#if ../currentCollection}}
      {{> (lookup . 'type') this value=(getCollectionFieldValue ../currentCollection ../currentIndex this)}}
    {{else}}
      {{> (lookup . 'type') this}}
    {{/if}}
  {{/if}}
{{/each}}
