<div class="image_image">
  <a href="#" data-function="remove-picture" class="remove-button ui-shadow ui-corner-all ui-icon-delete ui-btn-icon-notext" {{#unless value}}style="display:none;"{{/unless}}></a>
  <label for="{{id}}">{{label}}</label>
  <img id="{{id}}" name="{{id}}" {{#unless value}}style="display:none;"{{/unless}} src="{{value}}" />
  <a href="#" data-function="get-picture" class="ui-btn ui-shadow ui-corner-all">Obtener imagen</a>
</div>
