<div data-id="{{id}}">
  <label for="{{id}}">{{label}}</label>
  <input type="text" name="{{id}}" id="{{id}}" value="{{value.value}}">
  <select name="{{id}}_unit" id="{{id}}_unit" value="{{value.unit}}" data-mini="true">
    {{#each options}}
      <option value="{{value}}" {{getSelected ../value.unit value}}>{{label}}</option>
    {{/each}}
  </select>
</div>
