<div>
  <label for="{{id}}">{{label}}</label>
  <select name="{{id}}" id="{{id}}" value="{{value}}">
    {{#each options}}
      <option value="{{value}}" {{getSelected ../value value}}>{{label}}</option>
    {{/each}}
  </select>
</div>
