<div>
  <fieldset data-role="controlgroup" data-mini="true">
    <legend>{{label}}</legend>
    {{#each options}}
      {{#if ../multiple}}
        <input type="checkbox" name="{{../id}}" id="{{../id}}_{{value}}" data-value="{{value}}" {{getChecked ../value value}}>
      {{else}}
        <input type="radio" name="{{../id}}" id="{{../id}}_{{value}}" data-value="{{value}}" {{getChecked ../value value}}>
      {{/if}}
      <label for="{{../id}}_{{value}}">{{label}}</label>
    {{/each}}
  </fieldset>
</div>
