<ul data-role="listview" data-theme="f">
  {{#if surveys}}
    {{#each surveys}}
      <li>
        <a href="#" data-id="{{id}}">
          <h2>{{#if name}}{{name}}{{else}}{{form.label}}{{/if}}</h2>
          <p>Actualización: {{momentFromNow updatedDate}}</p>
          <p>Finalizado: {{#if finished}}Sí{{else}}No{{/if}}</p>
        </a>
      </li>
    {{/each}}
  {{else}}
    {{#if finished}}
      <h3>No hay ninguna encuesta finalizada.</h3>
    {{else}}
      <h3>No hay ninguna encuesta guardada.</h3>
    {{/if}}
  {{/if}}
</ul>
