<form id="{{survey.form.id}}">
  {{#if survey.id}}
    <input type="hidden" id="survey-id" name="survey-id" value="{{survey.id}}">
  {{/if}}
  <div data-role="collapsibleset" data-inset="false" data-theme="f">
    {{#each survey.form.sections}}
      <div data-role="collapsible">
        <h3>{{label}}</h3>
        {{#each children}}
          {{#if this.children}}
            {{> group this}}
          {{else}}
            {{> (lookup . 'type') this}}
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</form>
