<div data-id="{{id}}" data-shs="{{options.shs}}">
  <label for="{{id}}">{{label}}</label>
  <input type="hidden" name="{{id}}" id="{{id}}" value="{{value.value}}">
  <input type="text" name="{{id}}_label" value="{{value.label}}" disabled>
  <a href="#" data-function="get-shs" class="ui-btn ui-shadow ui-corner-all">Seleccionar</a>
</div>
